/* Hangman-Game */

body html {
   height: 100%;
   margin: 0; 
}

.bg { 
    /* The image used */
     background-image: url("../images/gallows-with-desert-background-vector.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* 
div{
  
} */

  .letter {
    width: 30px; 
    height:30px; 
    border-style: solid; 
    padding: 2px; 
    float: left; 
    margin: 2px; 
  }

  .letter-button-color {
    color: black;
  }

  #newPuzzle {
    margin-top: 78px;
    height: 500px;
    width: 200px;
    margin-left: 60px;
  }

  #buttons {
    padding-top: 60px; 
  }

  #new-game { 
    margin-left: 20px;
    font-size: 25px;
    color: black;
    border-style: solid;
    width: 100;
  }
